<!DOCTYPE HTML>
<html>
<head> 
    <title>team3nezinu presents</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<b>Get Data: </b>
	<p>Get Cinemas: <a href="/cinemaList">here</a></p>	
	<p>Get Movies: <a href="/getMovies">here</a></p>
    <p>Get Rooms: <a href="/getRooms">here</a></p>
    <p>Get Shows: <a href="/getShows">here</a></p>

	<b>Add Data: </b>
	<p>Add Cinema: <a href="/addCinema">here</a></p>	
	<p>Add Movies: <a href="/addMovie">here</a></p>
    <p>Add Rooms: <a href="/addRoom">here</a></p>
    
   	<b>Delete Data: </b>
	<p>Delete Cinema(and corresponding data): <a href="/deleteCinema">here</a></p>	
	<p>Delete Movie: <a href="/deleteMovie">here</a></p>
    <p>Delete Room: <a href="/deleteRoom">here</a></p>
    <p>Delete Show: <a href="/deleteShow">here</a></p>
    
    <b>Edit Data: </b>
	<p>Edit Cinemas(and corresponding data): <a href="/admShowCinemas">here</a></p>	
	<p>Edit Movies: <a href="/admShowMovies">here</a></p>
    <p>Edit Rooms: <a href="/admShowRooms">here</a></p>
    <p>Edit Shows: <a href="/admShowShows">here</a></p>
    
    
	<p>**********</p>
	<a href="/"><i>Sakumlapa</i></a>  
</body>

</html>
