<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>New User</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="#" th:action="@{/registration}" th:object="${user}" method="post">
		<p>Username: <input type="text" th:field= "*{username}" required/>
		<b th:if="${#strings.contains(error, 'user')}">Username Taken or Invalid</b>
		<p>Email: <input type="email" th:field="*{email}" required/>
		<b th:if="${#strings.contains(error, 'email')}">Email Invalid</b>
       	<p>Password: <input type="password" th:field="*{password}" required/></p>       	 
        <p><input type="submit" value="Submit" /><input type="reset" value="Reset"/></p>
    </form>
    
    	
<p>**********</p>
<a href="/"><i>Sakumlapa</i></a>
<a href="/admin"><i>Admin Page</i></a>
</body>
</html>
