<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text = "${cinema.getName()}"> - 123</title>
</head>
<body>
<table border="1">
	<form action="#" th:action="@{'/changeCinema?cinema_id='+${cinema.getCinema_id()}}" th:object="${cinema}" method="post">
            <table>
                <tr>
                    <td>Cinema ID:</td>
                    <td th:text="${cinema.getCinema_id()}"/></td>
                </tr>
                <tr>
                    <td>Cinema Name:</td>
                    <td><input type="text" th:field="*{name}" required/></td>
                </tr>
                <tr>
                    <td>Latitude:</td>
                    <td><input type="number" th:field="*{latitude}" min="-90" step="0.00001" max="90" placeholder="min: -90, max: 90" required/></td>
                </tr>
                <tr>
                    <td>Longitude:</td>
                    <td><input type="number" th:field="*{longitude}" min="-180" step="0.00001" max="180" placeholder="min: -180, max: 180" required/></td>
                </tr>
                <tr>
                    <td><button type="submit">Update</button></td>
                </tr>
            </table>
	</form>
</table>

<p>**********</p>
<a href="/"><i>Sakumlapa</i></a>
<a href="/admin"><i>Admin Page</i></a>
</body>
</html>