<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Delete User</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="#" th:action="@{/admin/deleteRoom}" th:object="${cinemas}" method="post">
    	              <select name="cinemaID" required>
                         <option th:each="index : ${cinemas}"
                         	th:value = "${index.getCinema_id()}"
                            th:text="${index.getName()}"/>
                 	 </select>   
        <p><input type="submit" value="Izveleties" /></p>
</form>


<table border="1">
<tr>
	<td>room_id</td>
    <td>cinema_id</td>
    <td>name</td>
    <td>seats</td>
    <td>Delete Room</td>    
</tr>
<form action="#" th:action="@{/admin/deleteRoom}" th:object="${rooms}" method="post">
<tr th:each="room : ${rooms}">

	<td th:text="${room.getRoom_id()}"></td>
    <td th:text="${room.getCinema_id()}"></td>
    <td th:text="${room.getName()}"></td>
    <td th:text="${room.getSeats()}"></td>
    <td> <button type="submit" name="deleteRoom" th:value = "${room.getRoom_id()}">Delete</button></td>
</table>
</form>


<p>**********</p>
</i><a href="/index.html"><i>Sakumlapa</i></a>
</i><a href="/admin/main"><i>Admin Page</i></a>

</body>
</html>
