<!DOCTYPE HTML>
<html>
<head> 
    <title>team3nezinu presents</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<b><label>ADMIN PAGE</label></b>
<br></br>
	<b>Get Data: </b>
	<p>Get Cinemas: <a href="/admin/admShowCinemas">here</a></p>	
	<p>Get Movies: <a href="/admin/admShowMovies">here</a></p>
    <p>Get Rooms: <a href="/admin/admShowRooms">here</a></p>
    <p>Get Shows: <a href="/admin/admShowShows">here</a></p>
    <p>Get Users: <a href="/admin/admShowUsers">here</a></p>

	<b>Add Data: </b>
	<p>Add Cinema: <a href="/admin/addCinema">here</a></p>	
	<p>Add Movies: <a href="/admin/addMovie">here</a></p>
    <p>Add Rooms: <a href="/admin/addRoom">here</a></p>
    <p>Add Shows: <a href="/admin/addShow">here</a></p>
    
   	<b>Delete Data: </b>
	<p>Delete Cinema: <a href="/admin/deleteCinema">here</a></p>	
	<p>Delete Movie: <a href="/admin/deleteMovie">here</a></p>
    <p>Delete Room: <a href="/admin/deleteRoom">here</a></p>
    <p>Delete Show: <a href="/admin/deleteShow">here</a></p>
    <!--<p>Delete User: <a href="/admin/deleteUser">here</a></p>  -->
    
    
	<p>**********</p>
	<a href="/" class="btn btn-success"><i>Sakumlapa</i></a>  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</body>

</html>